body {
  background: #24292e;
  color: #757575;
  cursor: pointer;
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding-left: 6px;
  padding-right: 0.5rem;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Oxygen,
    Ubuntu, Cantarell, “Open Sans”, “Helvetica Neue”, sans-serif;
}
.form-group {
  margin-top: 16px;
}
form {
  max-width: 320px;
  margin: 32px auto;
}
input {
  background: rgba(0, 0, 0, 0.32);
  border: 0;
  padding: 16px;
  width: 100%;
  border-radius: 6px;
  color: #fff;
  width: 290px;
}
input:focus {
  border-color: #20c98b;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(32 201 139 / 25%);
}
textarea {
  background: rgba(0, 0, 0, 0.32);
  border: 0;
  padding: 16px;
  width: 100%;
  border-radius: 6px;
  color: #fff;
  width: 290px;
}
textarea:focus {
  border-color: #20c98b;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(32 201 139 / 25%);
}
button {
  width: 320px;
  display: inline-block;
  margin-top: 16px;
  border: 0;
  padding: 16px;
  background: #fff;
  border-radius: 50px;
  font-weight: bold;
}
::placeholder {

  color: #72737f;
  opacity: 1; 
}
:-ms-input-placeholder {

  color: #72737f;
}
::-ms-input-placeholder {

  color: #72737f;
}
